.stringClass1 {color: green;}
.stringClass2 {color: blue;}
.templateString3{color: yellow;}
@media screen {
    .refInFileClass {color: magenta;}
}
.functionCallWithRefClass {color: gray;}
.funcCall {color: purple;}
.myclassaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {color: wheat;}

div {
    zoom: 1;
}

.someSpan {}